* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.BtnList button {
    padding: 5px;
    width: 20%;
    height: 30px;
    margin: 10px;
    border: none;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.BtnList {
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center;
    height: 400px;

    margin-top: 20px;
}



.tab-content {
    width: 90%;
    height: 200px;
    background-color: rgba(27, 25, 31, 0.658);
    margin: auto;
    margin-top: 10px;
    transition: 0.5s;
}


.BtnList button.active {
    background-color: #7925d3;
    color: #ebe7ef;
}