body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: 2s;
}

h2 {
    margin-bottom: 20px;
    transition: 2s;
}

input[type="text"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #21a7009a;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: 2s;
    background-color: #ffffff;
    text-align: center;
}

input[type="button"] {
    background-color: #1a814e;
    color: white;
    border: none;
    cursor: pointer;

}

input[type="button"]:hover {
    background-color: #151896;
}

.flag {
    width: 70px;
    height: 64px;
    display: inline-block;
    z-index: 100;
    transition: 5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;

}

.hidden {
    display: none;
    transition: 2s;
}